@import url('https://fonts.cdnfonts.com/css/division-one');

body {
  background-color: black;
  overflow: hidden;
  user-select: none;
  font-family: 'Division One', sans-serif;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: brightness(0.5);
  transition: filter 0.5s;

  z-index: -1;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
}

#logo {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: black;
  box-shadow: 0 0 20px white;
}

/* Welcome */
#welcome {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
}
#welcome i {
  font-size: 30px;
}

/* Socials */
.socials-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#socials {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#socials a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;

  background-color: black;
  transition: all 0.5s;
  cursor: pointer;
}

#socials a:hover {
  background-color: white;
  color: black;
  scale: 1.1;
}

#social-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 8px;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 1;
}

#social-toggle i {
  font-size: 15px;
}

#social-toggle:hover {
  background-color: white;
  color: black;
  width: 35px;
}
.socialtooltip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  margin-right: 10px;
  font-size: 0.8rem;
  border-radius: 8px;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s;
}

:has(> tool-tip) {
  position: relative;
}
:has(> tool-tip):hover tool-tip {
  opacity: 1;
}

/* Info */

.info-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#infoText {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  color: white;
  width: 500px;
  height: 300px;
  background-color: black;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid white;
  overflow: auto;
  overflow-wrap: break-word; /* Para el ajuste automático de palabras */
  word-wrap: break-word; /* Para compatibilidad con navegadores más antiguos */
}

#infoText h3 {
  position: sticky;
  top: -10px;
  font-size: 1.5rem;
  background-color: black;
  padding: 10px;

  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#info a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  background-color: black;
  cursor: pointer;
  transition: all 0.5s;
}
#info a:hover {
  background-color: white;
  color: black;
  scale: 1.1;
}

.infotooltip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  margin-left: 10px;
  font-size: 0.8rem;
  border-radius: 8px;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s;
}

/* FUll screen button */

#fullscreen {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: black;
  border-radius: 8px;
  border: 1px solid white;
  transition: all 0.5s;
  z-index: 1;
}

#fullscreen:hover {
  background-color: white;
  color: black;
  scale: 1.1;
}
.fullscreentooltip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  margin-left: 10px;
  font-size: 0.8rem;
  border-radius: 8px;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s;
  font-family: 'Division One', sans-serif;
}

.open-socials {
  animation: in-right 0.5s;
}
.close-socials {
  animation: out-right 0.5s;
}
@keyframes in-right {
  0% {
    transform: translateX(100%) translateY(-50%);
  }
  100% {
    transform: translateX(0) translateY(-50%);
  }
}

@keyframes out-right {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  100% {
    transform: translateX(100%) translateY(-50%);
  }
}
