:root {
  /* Body */
  --background-color: #0000008e;
  --text-color: #ffffff;

  /* Progress Bar */
  --progress-color: #ffffff;
  --progress-border-color: #ffffff;
  --progress-border-shadow: #d400ffab;
  --progress-background-color: #000000;

  /* Logo */
  --logo-shadow: #d400ffab;
  --logo-border-shadow: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  filter: blur(2px) brightness(50%);
}

.logo {
  width: 96px;
  height: 96px;
}

#boxLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid var(--logo-border-shadow);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.459);
}

/* Updates */
#updates {
  visibility: collapse;
  flex-direction: column;
  align-items: left;
  position: absolute;
  bottom: 20%;
  left: 1%;
  width: fit-content;
  height: fit-content;
  background-color: #000000b0;
  border-radius: 10px;
}
.updicon {
  visibility: visible;
  width: 32px;
  height: 32px;
  margin-bottom: -2.5em;
  z-index: 1;
}
.updicon:hover {
  scale: 1.1;
  animation: 0.5s;
  filter: drop-shadow(0 0 10px var(--logo-shadow));
}
.updicon:hover ~ .updates-container {
  visibility: visible;
}
.updates-container {
  background-color: #000000d7;
  border-radius: 10px;
  padding: 0.5em;
  visibility: hidden;
  overflow: hidden;
}
.updates-container:hover {
  visibility: visible;
}
.updates-container p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.3em;
}
.updates-container ul {
  max-height: 250px;
  max-width: 70%;
  padding: 1em 3em 1em 2.5em;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.459);
  border-radius: 10px;
  overflow: scroll;
  width: fit-content;
  height: fit-content;
  max-width: 200px;
  max-height: 150px;
}
.updates-container ul::-webkit-scrollbar {
  display: none;
}
.updates-container img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -1em;
  left: -0.5em;
  overflow: visible;
  z-index: 100;
}

/* Socials */
.socials {
  position: absolute;
  bottom: 3%;
  left: 1%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.socials img {
  width: 20px;
  height: 20px;
}
.socials-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}
.socials-box:hover {
  scale: 1.1;
  transition: 0.5s;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.459);
}

/* Progress Bar */
progress {
  appearance: none;
  width: 200px;
  height: 10px;
}
progress::-webkit-progress-bar {
  background-color: black;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color: var(--progress-color);
  border-radius: 10px;
}

.loader {
  position: absolute;
  bottom: 3%;
  right: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
